@import '@fortawesome/fontawesome-free/css/all.css';
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #9bd7bd;
  color: #333;
}
h1, h2, h3 {
  margin: 0;
  padding: 0;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
button {
  font-size: 16px;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}